// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #d517bd;
$secondary: #5c42e4;
$info: #0fa0db;
$light: #e7e7e8;
$danger: #e03e5f;
$success: #28c76f;

:root {
	--bs-primary: #{$primary};
	--bs-secondary: #{$secondary};
	--bs-info: #{$info};
}

// Map Bootstrap to use CSS variables
.btn-primary {
	background-color: var(--bs-primary);
	border-color: var(--bs-primary);
}

.btn-secondary {
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}

.alert-info {
	background-color: var(--bs-info);
	border-color: var(--bs-info);
}

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

.dropdown-toggle::before{
	display: none;
}

// 5. Du kan lave styling her...
body{
	font-family: "Roboto", sans-serif;
}

.poppins{
	font-family: "Poppins", sans-serif;
}

.check-bg{
	height: 70px;
	width: 70px;
	flex-shrink: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.check-box{
	height: 45px;
	width: 45px;
	border: 2.5px solid black;
	flex-shrink: 0;
}

.dinMor{
	background: black;
}